/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define WIN              0
#define LINUX            1
#define MAC              2
#define NUMSYM           3
#define MEDIA            4
#define LINUX_MEDIA      5
#define LINUX_SUPER_NAV  6
#define QWERTY           7
#define FN               8

/ {
    combos {
        compatible = "zmk,combos";

        /*
         * Ferris Sweep position map:
         *
         *  0  1  2  3  4       5  6  7  8  9
         * 10 11 12 13 14      15 16 17 18 19
         * 20 21 22 23 24      25 26 27 28 29
         *          30 31      32 33
         */
/*
 * I + O = semicolon
 * Hold Shift while triggering it for colon.
 */
semicolon_combo {
    timeout-ms = <40>;
    require-prior-idle-ms = <80>;
    key-positions = <18 19>;
    bindings = <&kp SEMI>;
    layers = <WIN LINUX MAC>;
};

/*
 * . + / = single quote
 * Hold Shift while triggering it for double quote.
 */
quote_combo {
    timeout-ms = <40>;
    key-positions = <28 29>;
    bindings = <&kp SQT>;
    layers = <WIN LINUX MAC>;
};
        /* Windows and Linux editing combos */
bootloader_combo {
    timeout-ms = <50>;
    key-positions = <20 29>;
    bindings = <&bootloader>;
    layers = <FN>;
};
        ctrl_undo {
            timeout-ms = <40>;
            key-positions = <20 21>;
            bindings = <&kp LC(Z)>;
            layers = <WIN LINUX QWERTY>;
        };

        ctrl_copy {
            timeout-ms = <40>;
            key-positions = <21 22>;
            bindings = <&kp LC(C)>;
            layers = <WIN LINUX QWERTY>;
        };

        ctrl_paste {
            timeout-ms = <40>;
            key-positions = <22 23>;
            bindings = <&kp LC(V)>;
            layers = <WIN LINUX QWERTY>;
        };

        ctrl_redo {
            timeout-ms = <40>;
            key-positions = <23 24>;
            bindings = <&kp LC(LS(Z))>;
            layers = <WIN LINUX QWERTY>;
        };

        /* macOS editing combos */

        mac_undo {
            timeout-ms = <40>;
            key-positions = <20 21>;
            bindings = <&kp LG(Z)>;
            layers = <MAC>;
        };

        mac_copy {
            timeout-ms = <40>;
            key-positions = <21 22>;
            bindings = <&kp LG(C)>;
            layers = <MAC>;
        };

        mac_paste {
            timeout-ms = <40>;
            key-positions = <22 23>;
            bindings = <&kp LG(V)>;
            layers = <MAC>;
        };

        mac_redo {
            timeout-ms = <40>;
            key-positions = <23 24>;
            bindings = <&kp LG(LS(Z))>;
            layers = <MAC>;
        };

        /*
         * Y + Backspace = Delete
         */
        delete_combo {
            timeout-ms = <45>;
            key-positions = <8 9>;
            bindings = <&kp DEL>;
            layers = <WIN LINUX MAC QWERTY>;
        };

        /*
         * Colemak arrow combos:
         *
         * K + M = Up
         * L + U = Right
         * H + N = Left
         * J + L = Down
         */

        arrow_up {
            timeout-ms = <40>;
            key-positions = <25 26>;
            bindings = <&kp UP>;
            layers = <WIN LINUX MAC>;
        };

        arrow_right {
            timeout-ms = <40>;
            key-positions = <6 7>;
            bindings = <&kp RIGHT>;
            layers = <WIN LINUX MAC>;
        };

        arrow_left {
            timeout-ms = <40>;
            key-positions = <15 16>;
            bindings = <&kp LEFT>;
            layers = <WIN LINUX MAC>;
        };

        arrow_down {
            timeout-ms = <40>;
            key-positions = <5 6>;
            bindings = <&kp DOWN>;
            layers = <WIN LINUX MAC>;
        };

        /*
         * NumSym: 1 + 2 = Backslash
         */
        backslash_combo {
            timeout-ms = <40>;
            key-positions = <0 1>;
            bindings = <&kp BSLH>;
            layers = <NUMSYM>;
        };

        /*
         * Space + Enter switches between Colemak and QWERTY.
         */
        to_qwerty {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&to QWERTY>;
            layers = <WIN LINUX MAC>;
        };

        to_colemak {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&to WIN>;
            layers = <QWERTY>;
        };
    };

    behaviors {
        thumb_mt: thumb_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MOD_TAP";
            #binding-cells = <2>;

            flavor = "tap-preferred";
            tapping-term-ms = <145>;
            quick-tap-ms = <100>;
            require-prior-idle-ms = <125>;

            bindings = <&kp>, <&kp>;
        };

        /*
         * Single tap = /
         * Double tap = \
         */
        slash_dance: slash_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "SLASH_DANCE";
            #binding-cells = <0>;

            tapping-term-ms = <175>;
            bindings = <&kp FSLH>, <&kp BSLH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Colemak-DH-like Windows layer
         *
         * Q W F P G    J L U Y Backspace
         * A R S T D    H N E I O
         * Z X C V B    K M , . /
         *
         * Thumbs:
         * FN  Space/Shift    Enter/Shift  NumSym
         */
        win_layer {
            display-name = "Win";

            bindings = <
&kp Q         &kp W         &kp F          &kp P           &kp G
&kp J         &kp L         &kp U          &kp Y           &kp BSPC

&kp A         &mt LALT R    &mt LCTRL S    &lt MEDIA T     &kp D
&kp H         &lt MEDIA N   &mt RCTRL E    &mt RALT I      &kp O

&kp Z         &kp X         &kp C          &kp V           &kp B
&kp K         &kp M         &kp COMMA      &kp DOT         &kp FSLH

                              &mo FN
                              &thumb_mt LSHIFT SPACE
                              &thumb_mt LSHIFT RET
                              &mo NUMSYM
            >;
        };

        linux_layer {
            display-name = "Linux";

            bindings = <
&kp Q         &kp W         &kp F          &kp P                 &kp G
&kp J         &kp L         &kp U          &kp Y                 &kp BSPC

&kp A         &mt LALT R    &mt LCTRL S    &lt LINUX_MEDIA T    &kp D
&kp H         &lt LINUX_MEDIA N
              &mt RCTRL E   &mt RALT I     &kp O

&kp Z         &kp X         &kp C          &kp V                 &kp B
&kp K         &kp M         &kp COMMA      &kp DOT               &kp FSLH

                              &mo FN
                              &thumb_mt LSHIFT SPACE
                              &thumb_mt LSHIFT RET
                              &mo NUMSYM
            >;
        };

        mac_layer {
            display-name = "Mac";

            bindings = <
&kp Q         &kp W         &kp F          &kp P           &kp G
&kp J         &kp L         &kp U          &kp Y           &kp BSPC

&kp A         &mt LALT R    &mt LCTRL S    &lt MEDIA T     &kp D
&kp H         &lt MEDIA N   &mt RCTRL E    &mt RALT I      &kp O

&kp Z         &kp X         &kp C          &kp V           &kp B
&kp K         &kp M         &kp COMMA      &kp DOT         &kp FSLH

                              &mo FN
                              &thumb_mt LSHIFT SPACE
                              &thumb_mt LSHIFT RET
                              &mo NUMSYM
            >;
        };

        /*
         * NumSym:
         *
         * 1 2 3 4 5    6 7 8 9 0
         * # * ( [ {    } ] ) ^ $
         * , . ~ - @    = % _ & +
         *
         * Left inner thumb:
         * single tap /, double tap \
         */
        numsym_layer {
            display-name = "NumSym";

            bindings = <
&kp N1                  &kp N2          &kp N3
&kp N4                  &kp N5
&kp N6                  &kp N7          &kp N8
&kp N9                  &kp N0

&kp LS(NUMBER_3)        &kp ASTERISK    &kp LPAR
&kp LBKT                &kp LBRC
&kp RBRC                &kp RBKT        &kp RIGHT_PARENTHESIS
&kp CARET               &kp DLLR

&kp COMMA               &kp PERIOD      &kp TILDE
&kp MINUS               &kp AT
&kp EQUAL               &kp PRCNT       &kp UNDER
&kp AMPS                &kp PLUS

                                      &trans
                                      &slash_dance
                                      &trans
                                      &trans
            >;
        };

        /*
         * Standard navigation layer:
         *
         * Right hand:
         * J = Down
         * L = Right
         * H = Left
         * K = Up
         */
        media_layer {
            display-name = "Media";

            bindings = <
&trans  &trans  &trans     &trans  &trans
&kp DOWN  &kp RIGHT  &trans  &trans  &trans

&trans  &trans  &kp LCTRL  &trans  &trans
&kp LEFT  &trans  &trans    &trans  &trans

&trans  &trans  &trans     &trans  &trans
&kp UP   &trans  &trans    &trans  &trans

                    &trans
                    &thumb_mt LSHIFT SPACE
                    &trans
                    &trans
            >;
        };

        linux_media_layer {
            display-name = "LxMedia";

            bindings = <
&trans  &trans  &trans     &trans  &trans
&kp DOWN  &kp RIGHT  &trans  &trans  &trans

&trans  &trans  &kp LCTRL  &trans  &trans
&kp LEFT  &trans  &trans    &trans  &trans

&trans  &trans  &trans     &trans  &trans
&kp UP   &trans  &trans    &trans  &trans

                    &trans
                    &mo LINUX_SUPER_NAV
                    &trans
                    &trans
            >;
        };

        linux_super_nav_layer {
            display-name = "LxSuper";

            bindings = <
&trans  &trans  &trans  &trans  &trans
&kp LG(DOWN)  &kp LG(RIGHT)  &trans  &trans  &trans

&trans  &trans  &trans  &trans  &trans
&kp LG(LEFT)  &trans  &trans  &trans  &trans

&trans  &trans  &trans  &trans  &trans
&kp LG(UP)  &trans  &trans  &trans  &trans

                    &trans
                    &trans
                    &trans
                    &trans
            >;
        };

        qwerty_layer {
            display-name = "QWERTY";

            bindings = <
&kp Q      &kp W      &kp E      &kp R      &kp T
&kp Y      &kp U      &kp I      &kp O      &kp BSPC

&kp A      &kp S      &kp D      &kp F      &kp G
&kp H      &kp J      &kp K      &kp L      &kp SQT

&kp Z      &kp X      &kp C      &kp V      &kp B
&kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH

                        &mo FN
                        &kp SPACE
                        &kp RET
                        &mo NUMSYM
            >;
        };

        function_layer {
            display-name = "Function";

            bindings = <
&kp F1       &kp F2       &kp F3       &kp F4       &kp F5
&kp F6       &kp F7       &kp F8       &kp F9       &kp F10

&bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
&bt BT_SEL 4 &trans       &trans       &trans       &trans

&to WIN      &to LINUX    &to MAC      &kp F11      &kp F12
&trans       &trans       &trans       &trans       &kp LA(LC(DEL))

                            &trans
                            &trans
                            &trans
                            &trans
            >;
        };
    };
};

/*
 * Override ZMK's built-in mod-tap behavior.
 */
&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <175>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <125>;
};
